{% extends 'base.html' %}
{% block title %}
   Подписки на авторов
{% endblock %}
{% include 'posts/includes/switcher.html' %}
{% block content %}
  <h1> Подписки на авторов </h1>
  <div class="container">        
    <article>
      {% for post in page_obj %}
          {% include 'includes/common_in_post.html' %} 
          {% if post.group.slug %}
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы {{ group.title }}</a>
          {% endif %}
          {% if user.get_username == post.author.username %}
            <a href="{% url 'posts:post_edit' post.id%}">изменение поста пользователя </a>            
          {% endif %}  
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
      {% include 'posts/includes/paginator.html' %}    
    </article>
  </div>
 
{% endblock %}